/Release/
/Debug/
.cproject
.project
/estd/estd.VC.opendb
/estd/estd.opensdf
/estd/Debug/vc140.pdb
/estd/Debug/vc140.idb
/estd/Debug/test.obj
/estd/Debug/estd.tlog/link.write.1.tlog
/estd/Debug/estd.tlog/link.read.1.tlog
/estd/Debug/estd.tlog/link.command.1.tlog
/estd/Debug/estd.tlog/estd.lastbuildstate
/estd/Debug/estd.tlog/CL.write.1.tlog
/estd/Debug/estd.tlog/CL.read.1.tlog
/estd/Debug/estd.tlog/CL.command.1.tlog
/estd/Debug/estd.pdb
/estd/Debug/estd.log
/estd/Debug/estd.ilk
/estd/Debug/estd.exe
/estd/.vs/estd/v14/.suo
