/Release/
/Debug/
.cproject
.project
/estd/estd.VC.opendb
/estd/estd.opensdf
/estd/Debug/vc140.pdb
/estd/Debug/vc140.idb
/estd/Debug/test.obj
/estd/Debug/estd.tlog/link.write.1.tlog
/estd/Debug/estd.tlog/link.read.1.tlog
/estd/Debug/estd.tlog/link.command.1.tlog
/estd/Debug/estd.tlog/estd.lastbuildstate
/estd/Debug/estd.tlog/CL.write.1.tlog
/estd/Debug/estd.tlog/CL.read.1.tlog
/estd/Debug/estd.tlog/CL.command.1.tlog
/estd/Debug/estd.pdb
/estd/Debug/estd.log
/estd/Debug/estd.ilk
/estd/Debug/estd.exe
/estd/.vs/estd/v14/.suo
/Release_coverage/
/.settings/
/0003-added-swap-support-for-obj_storage.patch
/0002-Temp-commit.patch
/0002-Move-assign-unit-tests.patch
/0001-test-case-fixes-renaming.patch
/0001-Fixed-GCC-unit-test-compiler-errors-added-obj_storag.patch
/0001-fixed-gcc-errors-formatting.patch
/0001-fixed-gcc-compiler-errors.patch
/0001-Corrected-gcc-compiler-errors.patch
/0001-corrected-gcc-clang-compiler-errors-fixed-ADL-and-ov.patch
/estd/Debug/main.obj
/estd/Debug/estd.tlog/estd.write.1u.tlog
/estd/Debug/estd.lib
/estd/Debug/estd.exp
/estd/Debug/estd.Build.CppClean.log
/temp.patch
/include/memory.h.rej
/googletest-build.sh
/estd/UpgradeLog.htm
/estd/Release/vc140.pdb
/estd/Release/test_poly_obj_storage.obj
/estd/Release/test_obj_storage.obj
/estd/Release/test_memory_resource.obj
/estd/Release/test.obj
/estd/Release/main.obj
/estd/Release/estd.tlog/link.write.1.tlog
/estd/Release/estd.tlog/link.read.1.tlog
/estd/Release/estd.tlog/link.command.1.tlog
/estd/Debug/test_poly_obj_storage.obj
/estd/Debug/test_obj_storage.obj
/estd/Debug/test_memory_resource.obj
/include/functional.h.rej
/include/functional.h.orig
/estd/Release/estd.tlog/estd.write.1u.tlog
/estd/Release/estd.tlog/estd.lastbuildstate
/estd/Release/estd.tlog/CL.write.1.tlog
/estd/Release/estd.tlog/CL.read.1.tlog
/estd/Release/estd.tlog/CL.command.1.tlog
/estd/Release/estd.pdb
/estd/Release/estd.log
/estd/Release/estd.lib
/estd/Release/estd.ipdb
/estd/Release/estd.iobj
/estd/Release/estd.exp
/estd/Release/estd.exe
/estd/Release/estd.Build.CppClean.log
/estd/estd.VC.VC.opendb
/estd/estd.VC.db
/estd/estd.sdf
/estd/estd.vcxproj.user
/estd/Debug/estd.tlog/link.3424.delete.1.tlog
/estd/Debug/estd.tlog/link.9140.delete.1.tlog
/estd/Debug/estd.tlog/unsuccessfulbuild
/estd/Debug/test_poly_vector.obj
